/***** Global Settings *****/
*							{margin:0;padding:0;}
html, body 					{border:0;margin:0;padding:0;}
body 						{font:12px/1.25 Arial, Helvetica, sans-serif; background: #CCCCCC; line-height: 1.6em;}

/***** Headings *****/
h1, h2, h3, h4, h5, h6		{margin:0;padding:0 0 20px 0;font-weight:normal;}
h1 							{font-size:2em;}
h2 							{font-size:1.5em;}
h3 							{font-size:1.2em;}
 
/***** Common Formatting *****/
p							{margin:0;padding:0 0 1.25em 0;}
ul, ol 						{padding:1.25em 0 1.25em 2.5em;}
blockquote 					{margin:1.25em;padding:1.25em 1.25em 0 1.25em;}
small 						{font-size:0.85em;}
img 							{border:0;}
sup 							{position:relative;bottom:0.3em;vertical-align:baseline;}
sub 							{position:relative;bottom:-0.2em;vertical-align:baseline;}
acronym, abbr 				{cursor:help;letter-spacing:1px;border-bottom:1px dashed;}
strong, b 					{font-weight:bold;}
i, em						{font-style:italic;}

/***** Links *****/
a img 						{border:none;}
a,a:link,
a:visited,
a:hover,
a:active,
a:focus						{text-decoration:underline;}
 
/***** Forms *****/
form 						{margin:0;padding:0;display:inline;}
input, select, textarea 	{font:1em Arial, Helvetica, sans-serif; margin:2px;}
textarea					{width:100%;line-height:1.25;}
label						{cursor:pointer;}
 
/***** Tables *****/
table 						{border:0;margin:0 0 0 0;padding:0; border-collapse:separate;border-spacing:0;}
caption, th, td 			{text-align: center;font-weight:normal;}
table tr td					{padding:5px; text-align: left;}
table, td, th 				{vertical-align:middle;}
 

/***** Global Classes *****/
.clear						{clear:both;}
.float-left					{float:left;}
.float-right				{float:right;}

.text-left					{text-align:left;}
.text-right					{text-align:right;}
.text-center				{text-align:center;}
.text-justify				{text-align:justify;}

.bold						{font-weight:bold;}
.italic						{font-style:italic;}
.underline					{border-bottom:1px solid;}
.highlight					{background:#ffc;}
.line-through				{text-decoration:line-through;}

.hide 						{display:none;}

 
.img-left, img.left 		{float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
.img-right , img.right 		{float:right;margin:1.5em 0 1.5em 1.5em;}
 
.nopadding     				{padding:0;}
.noindent      				{margin-left:0;padding-left:0;}
.nobullet      				{list-style:none;list-style-image:none;}

/***** Design *****/

/***** elements *****/
#cms hr{border:0px; border-top: dotted 1px #d9d9d9; border-bottom: solid 1px #ffffff; margin: 10px 0;}

#cms legend { font-size:1.5em; font-weight:bold;}

#cms label { display: inline-block !important; font-weight:bold; font-size:12px; vertical-align: top;}
#cms .row label { display:block; font-weight:bold; font-size:12px;}

#cms input[type=text],
#cms input[type=password],
#cms input.text,
#cms textarea,
#cms select  				{border: 1px solid #C4C4C4; background-color: #FBFBFB; padding:1px; font-size:11px; color: #777777;}

#cms textarea { width:50%;}

#cms input[type=text]:focus,
#cms input[type=password]:focus,
#cms input.text:focus,
#cms textarea:focus,
#cms select:focus 			{background-color: #FFFFCC;}

#cms input[type=checkbox],
#cms input[type=radio],
#cms input.checkbox,
#cms input.radio				{position:relative;top:.15em;}

#cms input[type=button],
#cms input[type="submit"]	{cursor: pointer;}

#cms a,
#cms a:link,
#cms a:focus,
#cms a:visited{color:#000000;}

#cms a:hover,
#cms a:active{ text-decoration:none;}

/***** container *****/
#cms div.breadcrumbs {padding-bottom:10px;}
#cms div.buttons { clear:both; float:right;}

#cms #container	{margin:0 auto; border-left:1px solid #666666; border-right:1px solid #666666; border-bottom:1px solid #666666; background:#FFFFFF; padding:10px 20px;}	

#cms #header {height:30px;}
#cms #header h1{display: block; width: 200px; height: 30px; /*text-indent:-9999px;*/}
#cms #header h1 a{/*background: url('') 0 0 no-repeat;*/ display:block; width:100%; height: 100%; outline:none; }

#cms #navigation{padding: 5px 0; border-bottom:1px solid #666666; border-top:1px solid #666666; margin:10px 0; background-color: #CCCCCC; }
#cms #navigation ul{list-style:none; padding:0;}
#cms #navigation li{display:inline; padding:0;}

#cms #navigation a,
#cms #navigation a:link,
#cms #navigation a:focus,
#cms #navigation a:visited{padding:0 10px;}
	
#cms #navigation a:hover,
#cms #navigation a:active {}

#cms #content {margin-bottom:10px;}

#cms #footer {border-top: 1px dotted #999999; padding-top: 10px; color:#999999;}
#cms #footer a,
#cms #footer a:link,
#cms #footer a:focus,
#cms #footer a:visited{color:#999999;}

#cms #footer a:hover,
#cms #footer a:active{ text-decoration:none;}


/***** specific *****/
#cms div.box-form-right {float: right; width: 300px;}
#cms div.box-form-left {float: left; width: 600px;}

#cms div.box-form-right label { width:250px;}
#cms div.box-form-left label { width:170px;}

#cms .form select { width:250px;}
#cms .form option { padding-left:5px;}

.password { display: none; }

.tooltip-content { display: none; font-size: 10px; height: 150px; width: 450px; color: black; background-color: lightblue; border: 1px solid white; border-radius: 5px; z-index: 1000; }
.success { background-color: green; }
.failure { background-color: red; }
