#cms div.box-form-right {float: right; width: 300px;}
#cms div.box-form-left {float: left; width: 600px;}

#cms div.box-form-right label { width:250px;}
#cms div.box-form-left label { width:170px;}

#cms .form select { width:250px;}
#cms .form option { padding-left:5px;}

.password { display: none; }

.tooltip-content { display: none; font-size: 10px; height: 150px; width: 450px; color: black; background-color: lightblue; border: 1px solid white; border-radius: 5px; z-index: 1000; }
